<div class="nested-fields">
  <%= f.time_field :start_time %> ~
  <%= f.time_field :end_time %>
  <%= f.text_field :purpose %>

  <%= link_to_remove_association '削除', f, class: 'btn btn-outline-danger' %>
</div>

