<%= render 'public/shared/posts_search' %>

<h1><%= "@keyword" の検索の結果 %></h1>

<table>
  <tbody>
    <% users.each do |user| %>
      <tr>
        <td><%= image_tag post.user.get_image %></td>
      </tr>
    <% end %>
  </tbody>
</table>



