<% if user_signed_in? %>
<%= render 'public/shared/users_search' %>
<%= render 'public/shared/posts_search' %>
<% end %>

<%= image_tag 'triplannerロゴ.png', size: '800x800' %>
<h2>旅の記録、残しておきませんか？</h2>


