<div class="col-lg-9">

<h1>退会確認</h1>
<h3>本当に退会しますか？</h3>
<p>今まで登録した情報、マイプランや投稿したものはすべて消えてしまいます。</p>

<%= link_to "退会しない", user_path(@user), class: "btn btn-success"  %>
<%= link_to "退会する", withdraw_users_path, method: :patch, "data-confirm" => "本当に退会しますか？", class: "btn btn-danger" %>

</div>